[package]
name = "dex_rust"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
jni = "0.21"
smali = { git = "https://github.com/azw413/smali.git" }
thiserror = "1.0"

[profile.release]
lto = true
opt-level = "z"
strip = true
